.avatar-list {
        width: 3.5vw;
        height: 3.5vw;
        border-radius: 50%;
        overflow: hidden;
        align-items: center;
        border: 1px solid #408CFF;
        margin-right: 1.4vw;
}

.avatar-list img {
        width: 100%;
        height: auto;
}