
* {
  box-sizing: border-box;
}

.btn-navbar{
  /* margin-top: 1vh; */
  margin-right: 1vw;
  padding: 0.3vw 1.4vw;
  background-color: #408CFF;
  color: white ;

  /* font-weight: 300; */
  font-family: "Roboto";
  font-size:   1.1rem ;
  font-weight: bold;
  border-radius: 10px;
    border: none;
    cursor: pointer;
    align-items: center;
}


/* .nav a, .text{

} */

.header-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
  justify-content: space-between; 
  width: 100%;
}
.nav{
  display: flex; 
  justify-content: space-between;
  width: 100%;
}

.page_header {
  width: 100%;
  max-height: 50vw;
  margin-top: 1vh;
}
.right-text-auth{
margin-right: 5.2vw;
}
.right-text-no-auth{
margin-right: 1vw;
}
.left-text-auth{
margin-left: 1vw;
}
.left-text-no-auth{
margin-left: 1vw;
}
.text a{
  color: black;
  text-decoration: none;
}
.text {
  margin:0 1vw 0 1vw;
  font-weight: 500;
  font-family: "Roboto";
  font-size: 1.3rem;
}

.left-text {
  display: flex; 
  align-items: left; /* This doesn't work for inline elements, remove */
  margin-right: auto; /* Align to the left by pushing other items to the right */
}

.right-text {
  display: flex; 
  margin-left: auto; /* Align to the right by pushing other items to the left */
}
.center-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
.operating-mode{
  font-family: "Roboto";
  font-size: 1.3rem;
  font-weight: bold;
}
.time-indicator {
  display: flex;
  flex-direction: row;
}
.open-indicator{
  margin: 7px 7px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #4AC341;
}
.close-indicator{
  margin: 7px 7px;
  background-color: #f21511;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.time-close{
  color: #f21511;
  font-size: 1rem;
}
.time-open{
  color: #4AC341;
}
.quest a{
color: #408CFF;
}
.avatar {
  width: 2vw; /* Размер круглого аватара */
  height: 2vw; /* Размер круглого аватара */
  border-radius: 50%; /* Делаем его круглым */
  overflow: hidden; /* Обрезаем изображение, чтобы оно вписывалось в круг */
  /* align-items: center; */
  border: 1px solid #408CFF;
  margin-top: 0.2vh;
}

.avatar img {
  width: 100%; /* Заполняем весь круг изображением */
  height: auto; /* Автоматическая высота */
}