
* {
  box-sizing: border-box;
}

.btn{
  margin-top: 1vw;
  margin-right: 1vw;
  padding: 0 5px;
  background-color: #408CFF;
  color: white ;
  /* font-weight: 300; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:   1.1rem ;
  font-weight: bold;
  border-radius: 10px;
    border: 3px solid #408CFF;
    cursor: pointer;
}


/* .nav a, .text{

} */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
  justify-content: space-between; 
  width: 100%;
}
.nav{
  display: flex; 
  justify-content: space-between;
  width: 100%;
}

.page_header {
  width: 100%;
  max-height: 50vw;
}
.text a{
  color: black;
  text-decoration: none;
}
.text {
  margin:1vw 1vw 0 1vw;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3rem;
}

.left-text {
  display: flex; 
  align-items: left; /* This doesn't work for inline elements, remove */
  margin-right: auto; /* Align to the left by pushing other items to the right */
}

.right-text {
  display: flex; 
  margin-left: auto; /* Align to the right by pushing other items to the left */
}
.center-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
.operating-mode{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
}
.time-indicator {
  display: flex;
  flex-direction: row;
}
.open-indicator{
  margin: 7px 7px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #4AC341;
}
.close-indicator{
  margin: 7px 7px;
  background-color: #f21511;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.time-close{
  color: #f21511;
  font-size: 1rem;
}
.time-open{
  color: #4AC341;
}
.quest a{
color: #408CFF;
}