/* .certificateItem{
    margin: 0;
    padding: 0;
    color: #408CFF !important;
} */
.certificateItem {
    margin: 0;
    font: 400 0.9em "Roboto";
    text-decoration: solid;
    /* font-size: 1vw; */
    padding: 0;
    color: #408CFF; 
     white-space: nowrap;
    overflow: hidden; 
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-bottom: 0.3vw;
    /* width: 100%; */
  }
  .certificate-list-container{
    margin: 0.6vw 0;
  }
  
  
  /* Если вы хотите добавить точки, чтобы заполнить оставшееся пространство */
  /* .certificateItem::after {
    content: '........................................................'; 
    display: inline-block;
    width: 100%; 
    text-align: right; 
  } */