*{
    box-sizing: border-box;
}

.nav a {
    color: #fbfbfb;
    text-decoration: none;
    font-weight: 400;
  }  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 80vw;
  }
.page_header{
    background-color: #2946a0;
  max-height: 50vw;
}
.page_header .inner{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    max-width: 90vw;
    justify-content:flex-start;
}

.text{
    /* display:inline-block; */
    margin:1vw;
    
}
/* .page_header .text:last-child{
    align-items: end;
    justify-content:flex-end;
} */
.left-text{
    display: flex;
}
.inner .text-end{
    justify-content:flex-end;
    margin:1vw;
    float: right;
}

/* nav.text_page{
    color: white;
    text-align: center;
    
}
nav.text_page:last-child{
    align-items: end;
}
.header_page .inner {
    justify-content: space-between;
    align-items: center;
  }
  .header_page .nav {
    align-self: flex-end;
  }

  .header_page .nav ul {
    display: flex;
    align-items: center;
  
    justify-content: center;
  }
 */
